/*
===================================
Basic Setup
===================================
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html{
	scroll-behavior: smooth;
}

header nav{
	background:#19283f;
	padding: 20px 0px;
	width:100%;
	overflow:hidden;
}

header nav .main-menu ul{
	list-style:none;
	margin-bottom: 0;
}

header nav .main-menu ul li:not(:last-child){
	margin-right: 40px;
}

header nav .main-menu ul li a{
	font-weight:400;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.sticky-details{
	text-align:center;
	padding:60px 0px;
}

.sticky-details h2{
	font-weight:700;
	font-size:50px;
	text-transform:capitalize;
}

.sticky-details p{
	width: 100%;
	margin: 30px auto;
	text-align: center;
	line-height:25px;
	font-size:17px;
}

/*
===================================
Start Sticky Menu
===================================
*/

.sticky{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	padding: 15px 0 !important;
	transition:.3s ease-in;
    -webkit-transition:.4s linear;
}

/*
===================================
End Sticky Menu
===================================
*/